# Archivos del sistema Mac
.DS_Store

# Modelos de IA (Demasiado pesados para GitHub)
*.onnx
*.bin

# Entornos virtuales de Python
venv/
__pycache__/

# Compilación local de la app macOS
.build/
dist/
